.home-body {
  background-image: url('../../assets/backgroundLogo.svg');
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #000;
  min-width: 100vw;
  text-align: center;
}

.home-body img {
  max-width: 80vw;
}
