.members-container {
    text-align: center;
    background-image: url("../../assets/discordBackground.svg");
    min-height: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}

.members-container-loading {
    text-align: center;
    background-image: url("../../assets/discordBackground.svg");
    min-height: 100vh;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.members-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
    margin-right: 20rem;
    margin-left: 20rem;
    padding-top: 5rem;
    padding-bottom: 5rem;
}

.search-input {
    width: auto;
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
    border: none;
}

.react-icon {
color: #61dafb;
vertical-align: middle;
animation: rotate 3s linear infinite;
}

@keyframes rotate {
from {
    transform: rotate(0deg);
}
to {
    transform: rotate(360deg);
}
}

@media (max-width: 1200px) {
    .members-grid {
        margin-right: 0rem;
        margin-left: 0rem;
        padding-top: 1rem;
        padding-bottom: 1rem;
    }
}